alias gs="git status"
alias push="git push"
alias pull="git pull"
alias gl="git log"
alias gd="git diff"
alias ga="git add -A"
alias gc="git commit -m "
alias ue="~/UnrealEngine/Engine/Binaries/Linux/UE4Editor ~/Formula-Student-Driverless-Simulator/UE4Project/FSOnline.uproject"